# C/C++
*.d
*.o
*.so
*.hpp
*.dll

notes.org

# Python
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
*.egg-info/
*.pyc
_build/

# R
.Rhistory
.RData
*.tar.gz
bridgestan.Rcheck/

# Julia
.juliahistory
build/

.DS_Store
.Rproj.user
