# C/C++
*.d
*.o
*.so
*.hpp
*.dll
*.a
c-example/example
c-example/example_static
*.exe

notes.org

# Python
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
*.egg-info/
*.pyc
_build/
*.whl

# R
.Rhistory
.RData
*.tar.gz
bridgestan.Rcheck/
.Rproj.user

# Julia
.juliahistory
build/

.DS_Store

bin/*
